<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=Edge, chrome=1">
<title>人找找的博客</title>
<base href="http://192.168.1.177:3000/">
<script>
    var ROOT_URL = 'http://192.168.1.177:3000/';
    var seajsEnv = {
        /*'mode': 'development',*/
        'debug': true
    };
</script>
<script src="public/libs/sea.js"></script>
<script src="public/libs/jquery.js"></script>
<script src="public/js/config.js"></script>
<link rel="stylesheet" href="public/css/style.min.css">
</head>
<body>

<h2 class="text-center">我是头部</h2>