<% include header.html %>

<div class="user-page">
    
    <form class="pure-form pure-form-aligned" method="post">
        <fieldset>
            <div class="pure-control-group">
                <label for="name">用户名</label>
                <input id="name" name="name" type="text" placeholder="请输入用户名" required>
            </div>

            <div class="pure-control-group">
                <label for="password">密码</label>
                <input id="password" name="password" type="password" placeholder="请输入密码" required>
            </div>

            <div class="pure-controls">
                <button type="submit" class="pure-button pure-button-primary">登录</button>
            </div>
        </fieldset>
    </form>
</div>

<% include footer.html %>
