<% include header.html %>

<div class="user-page">
    <form class="pure-form pure-form-stacked" method="post">
        <fieldset>
            <label>标题</label>
            <input id="title" name="title" type="text">

            <label>正文</label>
            <textarea name="post" style="width:500px;height:200px;"></textarea>

            <button type="submit" class="pure-button pure-button-primary">发表</button>
        </fieldset>
    </form>
    
</div>


<% include footer.html %>