@import "libs/pure.css";
/** 颜色 */
/** 字体 */
/** 喜闻乐见 */
/** 网页变量 */
.white {
  color: white;
}
.red {
  color: #df3932;
}
.green {
  color: #1db586;
}
.blue {
  color: #6699cc;
}
.gray {
  color: #333333;
}
.orange {
  color: #f7660e;
}
.black {
  color: #0e0e0e;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.hidden {
  display: none;
}
.visible {
  display: block;
}
.fluid {
  display: block;
}
.width {
  width: 1000px;
}
.container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.page {
  padding: 1em;
}
.pure-button {
  background-color: #f7660e;
  color: white;
  border-radius: 2px;
}
.pure-button:hover {
  color: white;
}
.button-secondary {
  background-color: #f7660e;
}
.pure-table {
  width: 100%;
  color: #999999;
  border: none;
}
.pure-table > thead {
  color: #808080;
  background-color: #dddddd;
}
.pure-table > thead th {
  border-left-width: 0;
  text-align: center;
}
.pure-table > tbody tr {
  border-bottom: 1px solid #dddddd;
}
.pure-table > tbody tr:last-child {
  border-bottom-width: 0;
}
.pure-table > tbody tr td {
  border-left-width: 0;
  padding: 1em;
  text-align: center;
}
.pure-table > tbody tr td:first-child {
  /*  width: 8em; */
}
.pure-form input[type="text"],
.pure-form input[type="number"],
.pure-form input[type="tel"],
.pure-form input[type="email"],
.pure-form input[type="password"] {
  border: 1px solid #dddddd;
  border-radius: 0;
  box-shadow: none;
}
.pure-form select {
  width: 12em;
  padding: 0 .5em;
  border: 1px solid #dddddd;
  box-shadow: none;
  border-radius: 0;
}
.pure-form .static-text {
  display: inline-block;
  vertical-align: middle;
}
.pure-form .pure-control-group {
  margin-bottom: 2em;
}
.pure-form .pure-control-group img {
  cursor: pointer;
}
.pure-form .pure-control-group .icon-input {
  display: inline-block;
  border: 1px solid #dddddd;
  border-top-width: 2px;
  padding-left: 1em;
  border-radius: 5px;
}
.pure-form .pure-control-group .icon-input > input {
  border: none;
  width: 200px;
}
.pure-form .pure-control-group .text-input {
  border: 1px solid #dddddd;
  box-shadow: 0 1px 5px #dddddd;
  border-radius: 1px;
  height: 43px;
}
.pure-form .pure-control-group .text-input > label {
  width: 64px;
  display: block;
  background-color: #f7f7f7;
  border-right: 1px solid #dddddd;
  margin: 0;
  float: left;
  height: 41px;
  text-align: center;
  line-height: 41px;
}
.pure-form .pure-control-group .text-input > input {
  padding: 1em;
  height: 41px;
  border: none;
  width: 232px;
}
.pure-form .pure-control-group .verify-img .border-img {
  border: 1px solid #dddddd;
  box-shadow: 0 1px 5px #dddddd;
  border-radius: 1px;
  height: 43px;
  width: 200px;
  display: inline-block;
}
.pure-form .pure-control-group .verify-img .border-img > label {
  width: 64px;
  display: block;
  background-color: #f7f7f7;
  border-right: 1px solid #dddddd;
  margin: 0;
  float: left;
  height: 41px;
  text-align: center;
  line-height: 41px;
}
.pure-form .pure-control-group .verify-img .border-img > input {
  padding: 1em;
  height: 41px;
  border: none;
  width: 132px;
}
.pure-form .pure-control-group .verify-tel {
  border: 1px solid #dddddd;
  box-shadow: 0 1px 5px #dddddd;
  border-radius: 1px;
  height: 43px;
  background-color: #f7f7f7;
}
.pure-form .pure-control-group .verify-tel > label {
  width: 64px;
  display: block;
  background-color: #f7f7f7;
  border-right: 1px solid #dddddd;
  margin: 0;
  float: left;
  height: 41px;
  text-align: center;
  line-height: 41px;
}
.pure-form .pure-control-group .verify-tel > input {
  padding: 1em;
  height: 41px;
  border: none;
  width: 132px;
  float: left;
  border-right: 1px solid #dddddd;
}
.pure-form .pure-control-group .verify-tel > button {
  width: 96px;
  height: 41px;
  background: none;
  box-shadow: none;
  border: none;
  text-align: center;
  outline: none;
}
.pure-form .control-helps {
  margin: 0 0 0 11.3em;
}
.pure-form .pure-controls {
  margin-left: 8.3em;
  margin-top: 4em;
}
.pure-form .verify-img1 {
  display: inline-block;
  vertical-align: middle;
}
.pure-form .verify-img1 > .icon-input input {
  width: 80px;
}
.pure-form .verify-img1 > img {
  width: 6em;
  height: 2.3em;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
.label {
  background-color: #f7660e;
  color: white;
  padding: .5em;
  margin-bottom: 1em;
}
.label.label-error {
  background-color: #ed8e8a;
  color: #df3932;
  border-color: #df3932;
}
.label.label-success {
  background-color: #54e4b7;
  color: #1db586;
  border-color: #1db586;
}
/** 进度条 */
.progress {
  min-height: 6px;
  border-radius: 0;
  position: relative;
  background-color: #dcdcdc;
  border-radius: 5px;
  box-shadow: inset 0 1px 1px #908B8B;
}
.progress .bar {
  background-color: #6699cc;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 5px;
}
.progress.inline {
  display: inline-block;
  vertical-align: middle;
}
/** 手风琴 */
.accordion {
  margin: 0;
  height: 655px;
  background-color: white;
}
.accordion > .title {
  cursor: pointer;
  color: #e69a6b;
  border-bottom: 1px solid #dddddd;
}
.accordion > .title label {
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: -3px;
  margin-right: 1em;
}
.accordion > .title label.accordion1 {
  background-image: url(../images/myhome/accordion1.png);
}
.accordion > .title label.accordion2 {
  background-image: url(../images/myhome/accordion2.png);
}
.accordion > .title label.accordion3 {
  background-image: url(../images/myhome/accordion3.png);
}
.accordion > .title label.accordion4 {
  background-image: url(../images/myhome/accordion4.png);
}
.accordion > .title label.accordion5 {
  background-image: url(../images/myhome/accordion5.png);
}
.accordion > .title label.accordion6 {
  background-image: url(../images/myhome/accordion6.png);
}
.accordion > .title a {
  color: #e69a6b;
  padding: 1em .5em 1em 4em;
  display: block;
}
.accordion > .title:hover {
  background-color: #e69a6b;
  color: white;
}
.accordion > .title:hover label {
  background-position: 0 16px;
}
.accordion > .title:hover a {
  color: white;
}
.accordion > .title.active {
  background-color: #e69a6b;
  color: white;
}
.accordion > .title.active label {
  background-position: 0 16px;
}
.accordion > .title.active a {
  color: white;
}
.accordion > .content {
  display: none;
}
.accordion > .content .user-menus {
  list-style: none;
  margin: 0;
  padding: 0;
}
.accordion > .content .user-menus li {
  line-height: 1.5em;
}
.accordion > .content .user-menus li a {
  color: #6699cc;
  display: block;
  padding: .5em;
  font-size: 12px;
  border-bottom: 1px solid #dddddd;
  text-align: center;
}
.accordion > .content .user-menus li a.active {
  color: #e69a6b;
}
.accordion > .content .user-menus li a:hover {
  color: #e69a6b;
}
.accordion > .content a {
  color: white;
}
/** 标签 */
.tabs .tabsbar > a {
  padding: 1em 2.5em;
  display: inline-block;
  font-size: 16px;
  border-top: 2px solid transparent;
  color: #f7660e;
}
.tabs .tabsbar > a:hover {
  border-top: 5px solid #f7660e;
  background-color: white;
  color: #333333;
}
.tabs .tabsbar > a.active {
  border-top: 5px solid #f7660e;
  background-color: white;
  color: #333333;
}
.tabs .content {
  background-color: white;
  padding: 4em 2.5em;
}
.tabs .content .item {
  overflow: hidden;
}
/** 分页 */
.page.song {
  margin-bottom: 1em;
}
.page.song em {
  font-style: normal;
}
.page.song .pagingtt {
  /* border: 1px solid @el-border-color; */
}
.page.song .pagingtt .paging {
  background-color: #f5f5f5;
  padding: .2em .8em;
  border: 1px solid #dddddd;
}
.page.song .pagingtt .hover {
  background-color: white;
}
/* .pagination{
    padding-left: 0;
    margin-top: 3em;

    ul{
        padding: 0;
        margin: 0;
    }

    li{
        display: inline-block;
        margin-left: .3em;
        margin-right: .3em;

        a{
            padding: .1em .5em;
            border: 1px solid @el-border-color;
        }

        &.active a{
            background-color: @orange;
            color: @white;
            border: 1px solid @orange;
        }
    }
} */
/** 面包屑 */
.breadcrumbs {
  padding: .7em 0;
  font-size: 1.1em;
}
/** 面板 */
.panel {
  background-color: white;
  padding: .2em 1em;
}
.panel > .header {
  padding-top: .5em;
  padding-bottom: .5em;
  border-bottom: 1px solid #dddddd;
}
.panel > .header > .title {
  margin-top: 0;
  margin-bottom: 0;
  color: #0e0e0e;
  font-size: 18px;
  font-weight: normal;
}
.panel > .header .more {
  float: right;
  margin-top: .2em;
  cursor: pointer;
  font-size: 14px;
  color: #999999;
}
.panel > .header .more .xia {
  display: inline-block;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.panel .panel-content {
  padding: .5em 1em;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 14px;
  font-family: "microsoft YaHei", Arial, sans-serif;
}
body {
  font-size: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}
.clear {
  height: 0;
  font-size: 1px;
  clear: both;
  line-height: 0;
}
a {
  color: #666666;
  -webkit-transition: color .3s;
          transition: color .3s;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: #333333;
}
.container {
  padding: 2em;
  margin: 0 auto;
}
.syntaxhighlighter {
  overflow-y: hidden!important;
}
input {
  color: #0e0e0e;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-corner {
  display: block;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgba(50, 50, 50, 0.5);
}
::-webkit-scrollbar-thumb:hover {
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
}
::-webkit-scrollbar-track:hover {
  background-color: rgba(0, 0, 0, 0.15);
}
